{% extends 'layout.html' %}{% block title %}Home{% endblock %}{% block content %}
 

<div class="container">
	<header><h1>Socimar</h1></header>
	<div class="row">

		<div class="col-sm-8">
			<div class="canvas-holder">
				<canvas id="canvas" class="canvas"></canvas>
				<a id="download" href="" class="btn btn-primary download" download="socimar.jpg">Download</a>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="control-holder">
				<h2> Controls </h2>

				<div class="drag-and-drop main-image" id="draganddrop">
					<div class="dragndrop-background "></div>
					<span class="content">Drag Main Image</span><br><br><br>
					
				</div>

				<div class="font-explorer">
					<div class="search">
				      <label for="font"><i class="fa fa-search"></i></label>
				      <input id="font" class="font" type="text" value="" data-provide="typeahead"/>
				      <i class="fa fa-random random"></i>
				    </div>
				    <div class="variants" style="display:none"></div>
				    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
   						<circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
					</svg>
				</div>
				<input oninput="socimar.draw()" id="mainText">Text
				<input oninput="socimar.changeFontSize()" id="font-size">Text Size
				<form oninput="result.value='rgba(' + r.value + ',' + g.value + ',' + b.value + ',' + a.value + ')'; socimar.changeColor(true);">
					<input name="r" type="range" min="0" max="255" step="5" value="50"  data-rangeslider class="range">
					<input name="g" type="range" min="0" max="255" step="5" value="100"  data-rangeslider class="range">	
					<input name="b" type="range" min="0" max="255" step="5" value="150"  data-rangeslider class="range">	
					<input name="a" type="range" min="0" max="1" step=".02" value=".45"  data-rangeslider class="range">	
					<output name="result" id="js-output">rgba(35,100,150,0.46)</output>
				</form>
				<div class="drag-and-drop copyright-logo">
					<span>Drag n' Drop</span><br>
					<span class="tiny">logo</span>
				</div>
				<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#settingsModal">
					Settings
				</button>

			</div><!-- controll holder -->
		</div>
	</div>
</div>
<div class="modal fade" id="settingsModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" >Settings menu</h4>
      </div>
      	<div class="modal-body">
        	<div class="btn btn-danger btn-clear" id="btn-clear">Reset All Settings</div> 
      	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %} 