{% extends 'layout.html' %}{% block title %}Home{% endblock %}{% block content %}
 

<div class="container">
	<div class="row">

		<div class="col-sm-8">
			<div class="canvas-holder">
				<canvas id="canvas" class="canvas"></canvas>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="control-holder">
				<h2> Controls </h2>

				<div class="drag-and-drop main-image">
					<span> Drag n Drop</span>
				</div>

				<input type="range" min="0" max="100" step="10" value="50"  data-rangeslider class="range">	
				<output id="js-output"></output>

			</div>
		</div>
	</div>
</div>

{% endblock %} 