{% extends 'layout.html' %}{% block title %}Home{% endblock %}{% block content %}
 

<div class="container">
	<div class="row">

		<div class="col-sm-8">
			<div class="canvas-holder">
				<canvas id="canvas" class="canvas"></canvas>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="control-holder">
				<h2> Controls </h2>

				<div class="drag-and-drop main-image">
					<span> Drag n Drop</span>
				</div>

				<input type="range" min="0" max="100" step="10" value="50"  data-rangeslider class="range">	
				<output id="js-output"></output>
				<div class="font-explorer">
					<div class="search">
				      <label for="font"><i class="icon-search"></i></label>
				      <input id="font" class="font" type="text" value="" data-provide="typeahead"/>
				    </div>
				    <i class="icon-heart action heart hide" title="Love!" data-rel="tooltip"></i>
				    <i class="icon-cog action history" title="History" data-rel="tooltip"></i>
				    <i class="icon-refresh action random" title="Randomize" data-rel="tooltip"></i>
				    <i class="icon-edit action" title="Edit" data-rel="tooltip"></i>
				    <i class="icon-info-sign action more" title="Details" data-rel="tooltip"></i>
				    <div class="clearfix"></div>
				    <div class="variants" style="display:none"></div>
				    <div class="visited" style="display:none"></div>
				</div>
				<form oninput="result.value='rgba(' + r.value + ',' + g.value + ',' + b.value + ',' + a.value + ')'; socimar.tint();">
					<input name="r" type="range" min="0" max="255" step="5" value="50"  data-rangeslider class="range">
					<input name="g" type="range" min="0" max="255" step="5" value="100"  data-rangeslider class="range">	
					<input name="b" type="range" min="0" max="255" step="5" value="150"  data-rangeslider class="range">	
					<input name="a" type="range" min="0" max="1" step=".02" value=".45"  data-rangeslider class="range">	
					<output name="result" id="js-output"></output>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %} 